<!--
Author: Ranjithprabhu K
Page Description: missionAreas page
Date: 13 Jan 2016
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Missions</h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">missionAreas</li>
        </ol>
    </section>
    <!-- Development content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6" data-ng-repeat="missionAreas in vm.missionAreas.missions">
                <!-- small box -->
                <div class="small-box bg-{{missionAreas.theme}}-gradient">
                    <div class="inner">
                        <p class="text-bold"><h3>{{missionAreas.Software}}</h3></p>
                        <p class="text-bold">
                          {{missionAreas.Percentage}} Waypoints</br>
                          {{missionAreas.Percentage}} Meters</br>
                          Since {{missionAreas.Since}}
                    </div>
                    <div class="icon">
                        <i class="fa"><img src="../../../../images/icons/{{missionAreas.image}}.png" class="img-responsive" width="70" /></i>
                    </div>
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-{{missionAreas.theme}} progress-bar-striped" role="progressbar" aria-valuenow="{{missionAreas.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{missionAreas.Percentage}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-header">
        <h1>Polyline Perimeter</h1>
    </section>
    <!-- Design content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6" data-ng-repeat="missionAreas in vm.missionAreas.design">
                <!-- small box -->
                <div class="small-box bg-{{missionAreas.theme}}-gradient">
                  <div class="inner">
                      <p class="text-bold"><h3>{{missionAreas.Software}}</h3></p>
                      <p class="text-bold">
                        {{missionAreas.Percentage}} Waypoints</br>
                        {{missionAreas.Percentage}} Meters</br>
                        Since {{missionAreas.Percentage}}
                  </div>
                    <div class="icon">
                       <i class="fa"><img src="../../../../images/icons/{{missionAreas.image}}.png" class="img-responsive" width="70" /></i>
                    </div>
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-{{missionAreas.theme}} progress-bar-striped" role="progressbar" aria-valuenow="{{missionAreas.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{missionAreas.Percentage}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="content-header">
    <h1>Circular Perimeter</h1>
</section>
<!-- Others -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6" data-ng-repeat="missionAreas in vm.missionAreas.others">
            <!-- small box -->
            <div class="small-box bg-{{missionAreas.theme}}-gradient">
              <div class="inner">
                  <p class="text-bold"><h3>{{missionAreas.Software}}</h3></p>
                  <p class="text-bold">
                    {{missionAreas.Percentage}} Waypoints</br>
                    {{missionAreas.Percentage}} Meters</br>
                    Since {{missionAreas.Percentage}}
              </div>
                <div class="icon">
                    <i class="fa"><img src="../../../../images/icons/{{missionAreas.image}}.png" class="img-responsive" width="70" /></i>
                </div>
                <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-{{missionAreas.theme}} progress-bar-striped" role="progressbar" aria-valuenow="{{missionAreas.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{missionAreas.Percentage}}%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
